.form-grid {
    display: grid;
    grid-template-columns: 160px auto;
    column-gap: 12px;
    row-gap: 4px;
}

.form-grid label {
    width: 160px;
    text-align: right;
}

.DescEditor {
    max-width: 600px;
}

.editors {
    display: flex;
}

.pattern-editor {
    width: 400px;
    height: 60vh;
    background-color: lightblue;
}

.pattern-scrollview {
    overflow: auto;
    height: 100%;
    transform: scaleY(-1);
}

.pattern-container {
    min-height: 100%;
    position: relative;
}
